* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative; /* Para o posicionamento absoluto do círculo */
}

.circulo {
    width: 650px; /* Ajuste o tamanho do círculo conforme necessário */
    height: 630px; /* Ajuste o tamanho do círculo conforme necessário */
    background: #017143; /* Cor do círculo */
    border-radius: 60%; /* Faz o círculo */
    position: fixed; /* Fixa o círculo na tela */
    bottom: -100px; /* Distância do fundo */
    right: -150px; /* Distância da direita */
    overflow: hidden; /* Para esconder partes da imagem que saem do círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Coloca o círculo atrás dos outros elementos */
    
}

.logo {
    width: 80px; /* Ajuste o tamanho do logo se necessário */
}

.conteudo {
    display: flex;
    justify-content: space-between; /* Mantém os elementos do conteúdo separados */
    margin-top: 50px; /* Espaço entre o logo e o conteúdo */
}

.caixa_texto {
    width: 600px; /* Largura da caixa de texto */
}

h1 {
    color: #333333; /* Cor do título */
    font-size: 60px; /* Tamanho do título */
    font-weight: 600; /* Peso da fonte */
}

p {
    font-size: 16px; /* Tamanho do texto */
}
span {
  color: #017143; /* Cor do texto do span */
  font-size: 70px; /* Tamanho da fonte do span */
  font-weight: 900; /* Peso da fonte do span */
}


button {
    background-color: #017143; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border-radius: 40px; /* Arredondamento das bordas do botão */
    padding: 10px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    margin-top: 30px; /* Margem superior do botão */
}

button:hover {
    background-color: #008a51; /* Cor do botão ao passar o mouse */
}

.caixa_imagem {
    width: 600px; /* Largura da caixa de imagem */
    display: flex;
    justify-content: flex-end; /* Alinha a imagem à direita */
}

.Starbucks {
    width: 340px; /* Ajuste o tamanho da imagem Starbucks se necessário */
    position: fixed;
     right: 60px;
 }

.menu {
    display: flex; /* Para alinhar os botões do menu */
    justify-content: center; /* Centraliza os botões do menu */
    margin-top: 30px; /* Espaço entre o conteúdo e o menu */
}

.botaomenu {
    width: 80px; /* Largura dos botões do menu */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    margin: 10px; /* Margem entre os botões do menu */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.botaomenu:hover {
    transform: translateY(-5px); /* Move o botão para cima ao passar o mouse */
}

/* Estilo para a imagem dentro do círculo */
.imagem-circulo {
    width: 100%; /* A imagem ocupa 100% do círculo */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Cobre o círculo evitando distorção */
}
