* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Starbucks {
  width: 250px;
  position: relative;
  top: 50px;
  right: 45px;

}

body {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.conteudo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caixa-texto {
  width: 600px;

}

h1 {
  color: #333;
  font-size: 60px;
   font-weight: 600;
}

span {
  color: #017143;
  font-size: 70px;
  font-weight: 900;
}


p {
  font-size: 20px;

}

button {
  background: #017143;
  color: #ffffff;
  border-radius: 40px;
  border: none;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #018950
}


.caixa_imagem {
    width: 1 00px;
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
    /* cria uma margem, um espaço */
}

.menu {
  display: flex;
  justify-content: center;
 
}

.botaomenu {
  width: 50px;
  cursor: pointer;
  transition: 1.0s;
  margin: 2px;
  position: relative;
  top: 25px;
}

.botaomenu:hover {
  transform: translateY(-25px);

}

.circulo {
    width: 100%;
    height: 100%;
    background: #017143;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(520px at right 680px);
    z-index: -1;
  
}

.logo {
  width: 70px;
}
